


// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$navbar-color:#3e424c;

/* universal   */

h1{
  font-size: 3em;
  color:#fff;
}

.jumbotron{
  text-align: center;
}


#logo{
  color:#777;
}